<h1><%= @restaurant.name %></h1>
<%= link_to "Add review", new_restaurant_review_path(@restaurant), class: "btn btn-primary" %>
<%= link_to "Back to restaurants", root_path, class: "btn btn-primary" %>

<% @restaurant.reviews.each do |review| %>

  <p>
    Rating: <%= review.rating %>/5
  </p>
  <p>
    <%= review.content %>
  </p>
<% end %>
